 <nav class="navbar navbar-expand-lg fi  navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        <!-- <img src = "NL-Logo-sm.png"> Mindful Practice -->
         <!-- <i class="fas fa-feather-alt"></i> -->
         <span><span class="glyphicon glyphicon-bell"></span>
        <!-- <i class="glyphicon glyphicon-grain"></i> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <li class="nav-item active">
            <a class="nav-link" href="#">Client search <span class="sr-only">(current)</span></a>
          </li>
            <a class="nav-link" href="#">New Client <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Finace</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
      
      </div>
    </nav>


    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                  
                  <a class="navbar-brand mr-4" href="/">Mindful Practice</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
\                  </button>
                  {% block menu %}

                  {% endblock %}
                  <div class="navbar-nav">
                    <div class="collapse navbar-collapse" id="navbarToggle">
                      <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{{ url_for('search') }}">Search Client</a>
                        <a class="nav-link" href="{{ url_for('new_client') }}">New Client </a>
                      </div>
                    </div>
                  </div>

                  <!-- <ul class="nav navbar-nav navbar-Toggle">
                   <li class="dropdown" >
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clients <span class="caret"></span>
                      </a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a class="nav-item nav-link" href="{{ url_for('search') }}">Search Client</a></li>
                          <li> <a class="nav-link" href="{{ url_for('new_client') }}">New Client </a></li>

                          <li>  <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a> </li>

                          
                      </ul>
                    </li>
                 </ul>
                  <div class="collapse navbar-collapse" id="navbarToggle">
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <li class="nav-item active">
                          <a class="nav-link" href="#">Client search <span class="sr-only">(current)</span></a>
                        </li>
                          <a class="nav-link" href="#">New Client <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Finace</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown</a>
                          <ul>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                           <li> <a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <div class="dropdown-divider"></div>
                           <li><a class="dropdown-item" href="#">Something else here</a><
                          </div>
                          </ul>
                           </a>
                        </li>
                       
                      </ul>
                      </div>  -->
                    <!-- <div class="navbar-nav mr-auto">
                      <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                      <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
                      

                    </div> -->
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                      {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                      {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </nav>