{% extends "layout.html" %}
{% block heading %}
{% endblock %}


{% block content %}
    <div class="">
        {{ form.submit(class="btn btn-outline-info") }}
           
    </div>
    <div class = "content-section">
        <form method="POST" action = "">
            <!-- add the client form here  -->
            
            <div class="form-group">     
                <table class = "">   
                    <thead>
                        <tr>  
                            <th>
                            
                                {{ form.first_name.label(class="form-control-label") }}
                            </th>
                            <th>
                                {{ form.last_name.label(class="form-control-label") }}
                            </th> 
                             <th>
                                {{ form.email.label(class="form-control-label") }}
                            </th> 
                              <th>
                                {{ form.phone.label(class="form-control-label") }}
                            </th> 
                        </tr>
                    </thead>  
                    <tr>
                        <div class="row-xs-4 ">
                            <td>
                                <div class="col-xs-4" > 
                                    {{ form.first_name(class="form-control form-control-xs") }}
                                </div>   
                            </td>
                            <td>
                                <div class="col-xs-4" > 
                                    {{ form.last_name(class="form-control form-control-xs") }}
                                </div>
                            </td>
                             <td>
                                <div class="col-xs-4" > 
                                    {{ form.email(class="form-control form-control-xs") }}
                                </div>
                            </td>
                             <td>
                                <div class="col-xs-4" > 
                                    {{ form.phone(class="form-control form-control-xs") }}
                                </div>
                            </td>
                        </div>
                    </tr>
                  
                </table> 
            </div>
            <div class="form-group">     
                <table class = "">   
                    <thead>
                        <tr>  
                            <th>
                            
                                {{ form.street1.label(class="form-control-label") }}
                            </th>
                            <th>
                                {{ form.city.label(class="form-control-label") }}
                            </th> 
                             <th>
                                {{ form.state.label(class="form-control-label") }}
                            </th> 
                              <th>
                                {{ form.zipcode.label(class="form-control-label") }}
                            </th> 
                        </tr>
                    </thead>  
                    <tr>
                        <div class="row-xs-4 ">
                            <td>
                                <div class="col-xs-4" > 
                                    {{ form.street1(class="form-control form-control-xs") }}
                                </div>   
                            </td>
                            <td>
                                <div class="col-xs-4" > 
                                    {{ form.city(class="form-control form-control-xs") }}
                                </div>
                            </td>
                             <td>
                                <div class="col-xs-4" > 
                                    {{ form.state(class="form-control form-control-xs") }}
                                </div>
                            </td>
                             <td>
                                <div class="col-xs-4" > 
                                    {{ form.zipcode(class="form-control form-control-xs") }}
                                </div>
                            </td>
                        </div>
                    </tr>
                  
                </table> 
            </div>
            
            
        </form>
        
    </div>
    <!--  now add last 3 notes -->
        
     <div class = "container">
        <h2 class="article-title"> Session Notes </h2>
        <div> 
            <a href="{{ url_for('note_list', client_id = client.id) }}"> See All</a>
        </div>
        <ul>
         {% for note in notes %}
            <li>
                <span> <a href="{{ url_for('session_note', note_id = note.id) }}">
                  {{ note.note_date}} </a> {{ note.description }}</span>
                 
              </li>
         {% endfor %}
         </ul>
     </div>


{% endblock %} 